[Unit]
Description=Dynamic DNS update watcher

[Service]
Type=simple
WorkingDirectory=/var/www/dyn-update
ExecStartPre=echo "[`date`] Dynamic DNS update start watching" >> /var/log/dyndns-update.log
ExecStart=/bin/bash /var/www/dyn-update/watch-changes.sh >> /var/log/dyndns-update.log &

